.section-lab svg {
    stroke: rgba(175, 175, 175, 0.92);
    fill: white;
    position: absolute;
    left: 500px;
    top: 150px;
}

.section-lab .form {
    position: absolute;
    top: 150px;
    left: 900px;
    width: 500px;
    height: 350px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    background: rgb(144, 144, 144);
    border-radius: 20px 20px 20px 20px;
}

.section-lab .y_value {
    margin: 5% 0 0;
    position: relative;
    top: 15px;
    left: 130px;
}

.section-lab .y_value #Y_value {
    width: 145px;
}

.section-lab .x_value {
    margin: 5% 0 0;
    position: relative;
    top: 15px;
    left: 130px;
}

.section-lab .x_value #X_value {
    width: 143px;
}

.section-lab .r_value {
    margin: 5% 0 0;
    position: relative;
    top: 15px;
    left: 130px;
}

.section-lab .r_value #R_value {
    width: 153px;

}

.section-lab .text-select-coordinate{
    text-align: center;
    font-size: 30px;
    color: rgb(240,240,240);
}

.section-lab .client-button{
    position: absolute;
    left: 140px;
    top: 270px;
}

.section-lab .client-button .client-button-submit, .client-button-clear {
    background: lightgrey;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    position: relative;
    top: 22px;
}

.section-lab .client-button-clear:hover{
    color: green;
}

.section-lab .client-button-submit:hover{
    color: green;
}

.section-lab .Error_text {
    margin: 15px;
    position: relative;
    top: 13px;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: red;
    font-size: 20px;
    margin: 4px;
}